*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    height: 450px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

#full{
    height: 100%;
    width: 100%;
    padding: 5px;
    position: absolute;
    display: none;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

#full .top1{
    display: flex;
    align-items: center;
    color: white;
}
#progress{
    width: 100%;
    height: 3px;
    border-radius: 50px;
    background-color: gray;
}

#growth{
    height: 100%;
    width: 0%;
    border-radius: 50px;
    background-color: white;
}

#full img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px;
    object-fit: cover;
}

#stories{
    height: 100px;
    width: 100%;
    border-bottom: 3px solid rgba(0, 0, 0, 0.505);
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
::-webkit-scrollbar{
    display: none;
}

#story{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    border: 3px solid rgb(239, 104, 104);
}

#story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}